<body>
    <div class="top">
        <h5><p>Beton-Kategorien</p></h5>
    </div>
    
        <div class=textbereich>
        <div class="eins">
            <div class="img-block">
                <figure><a href="Beton-Lampen" class="mx-auto d-block"><img src="./assets/images/Beton.jpg" alt="Bild kann nicht geladen werden." class="mx-auto d-block" id="picture3"></a>
                <figcaption class="mx-auto d-block">
                    <a href="Beton-Lampen"><h2>Lampen</h2></a>
                </figcaption>
            </figure>
            </div>
        </div>
        
        <div class="eins">
            <div class="img-block">
                <figure><a href="Beton-Figuren" class="mx-auto d-block"><img src="./assets/images/Figuren.jpg" alt="Bild kann nicht geladen werden." class="mx-auto d-block" id="picture3"></a>
                <figcaption class="mx-auto d-block">
                    <a href="Beton-Figuren"><h2>Figuren</h2></a>
                </figcaption>
            </figure>
            </div>
        </div>    
        </div>
    </body>