<div class="allgemein">
    <div class="headline">
        <h3>Schlummerlampe-Wandlampe Winnie Pooh schläft</h3>
    </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card border-0">
            <div class="card-body">
              <div class="rowbild">
                <img src="./assets/images/Beton.jpg" class="card-img-top" alt="Bild kann nicht angezeigt werden" height="100%" width="100%">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card border-0">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12" id="test" style="background-color:lightgrey;">Artikelinformationen & Maße:</div>
              </div>
              <br>
              
              <div class="row">
                <div class="col-sm-12" style="background-color:lightgrey;">Schlummerlampe-Wandlampe Winnie Pooh schläft</div>
              </div>
              <br>
          
              <div class="row">
                <div class="col-sm-12" style="background-color:lightgrey;">Inkl. 10er LED-Lichterkette warm-weiß mit Ein-Aus Schalter</div>
              </div>
              <br>
      
              <div class="row">
                <div class="col-sm-12" style="background-color:lightgrey;">Höhe 30,5 cm</div>
              </div>
              <br>
      
              <div class="row">
                <div class="col-sm-12" style="background-color:lightgrey;">Breite 28 cm</div>
              </div>
              <br>
      
              <div class="row">
                <div class="col-sm-12" style="background-color:lightgrey;">16,90 €</div>
              </div>
              <br>
      
              <div class="row">
                <div class="col-sm-12" style="background-color:lightgrey;">MwSt. wird nicht ausgewiesen (Kleinunternehmer, § 19 UStG), zzgl.<a href="Versand">Versand</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>