<div class="allgemein">
    <h3>Schlummerlampen-Wandlampen</h3>
    
    <div class=textbereich>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Holzprodukte" class="mx-auto d-block"><img src="./assets/images/Sky.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Holzprodukte"><h2>Paw Patrol Sky</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    
    
    <div class="eins">
        <div class="img-block">
        <figure>
            <a href="Holzprodukte" class="mx-auto d-block"><img src="./assets/images/Everest.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Holzprodukte"><h2>Paw Patrol Everest </h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    
    
    <div class="eins">
        <div class="img-block">
        <figure><a href="Holzprodukte" class="mx-auto d-block"><img src="./assets/images/Marshal.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Holzprodukte"><h2>Paw Patrol Marshal</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Holzprodukte" class="mx-auto d-block"><img src="./assets/images/Rocky.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Holzprodukte"><h2>Paw Patrol Rocky</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Holzprodukte" class="mx-auto d-block"><img src="./assets/images/Chase.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Holzprodukte"><h2>Paw Patrol Chase</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Holzprodukte" class="mx-auto d-block"><img src="./assets/images/Rubble.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Holzprodukte"><h2>Paw Patrol Rubble</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Holzprodukte" class="mx-auto d-block"><img src="./assets/images/Zuma.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Holzprodukte"><h2>Paw Patrol Zuma</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Holzprodukte" class="mx-auto d-block"><img src="./assets/images/Bob.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Holzprodukte"><h2>Bob der Baumeister</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Holzprodukte" class="mx-auto d-block"><img src="./assets/images/Pooh.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Holzprodukte"><h2>Winnie Pooh</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Holzprodukte" class="mx-auto d-block"><img src="./assets/images/Elsa.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Holzprodukte"><h2>Elsa</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Holzprodukte" class="mx-auto d-block"><img src="./assets/images/Dumbo.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Holzprodukte"><h2>Dumbo</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Holzprodukte" class="mx-auto d-block"><img src="./assets/images/Cars.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Holzprodukte"><h2>Cars</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Holzprodukte" class="mx-auto d-block"><img src="./assets/images/Minni.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Holzprodukte"><h2>Minnie Mouse</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Holzprodukte" class="mx-auto d-block"><img src="./assets/images/Sam.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Holzprodukte"><h2>Feuerwehrmann Sam</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Holzprodukte" class="mx-auto d-block"><img src="./assets/images/Elefant.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Holzprodukte"><h2>Blauer Elefant</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    </div>
    </div>