<div class="allgemein">
    <h3>Beton-Figuren</h3>
    
    <div class=textbereich>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Beton-Figuren" class="mx-auto d-block"><img src="./assets/images/Wichtel_klein_farbig.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Beton-Figuren"><h2>Wichtel klein farbig</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    
    
    <div class="eins">
        <div class="img-block">
        <figure>
            <a href="Beton-Figuren" class="mx-auto d-block"><img src="./assets/images/Wichtel_farbig.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Beton-Figuren"><h2>Wichtel farbig</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    
    
    <div class="eins">
        <div class="img-block">
        <figure><a href="Beton-Figuren" class="mx-auto d-block"><img src="./assets/images/Wichtel_klein.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Beton-Figuren"><h2>Wichtel klein</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Beton-Figuren" class="mx-auto d-block"><img src="./assets/images/Wichtel.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Beton-Figuren"><h2>Wichtel</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Beton-Figuren" class="mx-auto d-block"><img src="./assets/images/Baum_klein.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Beton-Figuren"><h2>Baum klein</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Beton-Figuren" class="mx-auto d-block"><img src="./assets/images/Baum_mittel.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Beton-Figuren"><h2>Baum mittel</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Beton-Figuren" class="mx-auto d-block"><img src="./assets/images/Baum_groß.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Beton-Figuren"><h2>Baum groß</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Beton-Figuren" class="mx-auto d-block"><img src="./assets/images/Engel.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Beton-Figuren"><h2>Engel</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Beton-Figuren" class="mx-auto d-block"><img src="./assets/images/Herz.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Beton-Figuren"><h2>Herz geschwungen</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Beton-Figuren" class="mx-auto d-block"><img src="./assets/images/Stern_klein.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Beton-Figuren"><h2>Stern klein</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Beton-Figuren" class="mx-auto d-block"><img src="./assets/images/Stern_mittel.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Beton-Figuren"><h2>Stern mittel</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    <div class="eins">
        <div class="img-block">
        <figure><a href="Beton-Figuren" class="mx-auto d-block"><img src="./assets/images/Stern_groß.jpg" alt="Bild kann nicht geladen werden." id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Beton-Figuren"><h2>Stern groß</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    </div>
    </div>