<html lang="de">
<head>
	<title>Chrisubis-Hobby</title>
	<meta charset="utf-8">
</head>
<body>

  <div class="header">
  <div id="kopfbereich">
    <h1>Chrisubis-Hobby</h1>
    <p>Holz und Beton, Deko made by Christine und Bianca</p>
  </div> <!-- Ende kopfbereich -->
  
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand">Menü</a>
      <div class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </div>  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="nav-link" href="#">Startseite</a>
        <a class="nav-link" href="Shop">Shop</a>
        <a class="nav-link" href="Contact">Kontakt</a>
      </div>
      <div class="d-flex" id="navbarSupportedContent">
        <a class="nav-link" float:right href="Basket">Warenkorb</a>
      </div>
  </nav>
  </div>
</body>
</html>