<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>Startseite</title>
  </head>
  <body>

<div id="textbereich">

    <div class="left-top">
        <div class="text">
            <div class="headline">
                <h2>Leidenschaftlich kreativ</h2>
            </div>
            <div class="textblock" class="mx-auto d-block">
                <p>Jeder fängt mal klein an - so wie wir, meine Nichte Bianca und ich.<br>
                Begonnen hat alles mit Windowcolor und Tontopffiguren mit denen wir im<br> 
                Jahr 2001 das erste Mal auf unserem kleinen Weihnachtsmarkt im Ort standen.<br>
                2 Jahre später hielt ich das erste Buch über Laubsägearbeiten in der Hand und war<br>
                Feuer und Flamme. Seit dem erstellen wir in unserer Freizeit Holzdekorationen<br> 
                und sind ca. 4 bis 5 mal im Jahr auf Kunsthandwerkermärkten zu finden.<br>
                Im Jahr 2019 fanden wir auch an Betondekorationen gefallen und haben 2020<br> 
                unser Programm damit erweitert.<br>
                <strong>Jedes Stück ist mit Liebe zum Detail in Handarbeit gefertigt.</strong></p>
                <h3>Das ist unser Ausgleich neben Familie und Beruf. :-)</h3>
                <p>Bisher hatten wir nur eine Homepage mit unseren entstandenen Werken auf<br> 
                <strong>www.chrisubis.beepworld.de</strong><br>
                Da die Frage, warum wir keinen Shop haben, immer öfter gestellt wurde:<br>
                <strong>HIER IST ER.</strong></p>
            </div>
        </div>
    </div>
    
    <div class="right-top">
        <img src="./assets/images/Christine.jpg" alt="Bild kann nicht geladen werden." class="mx-auto d-block" id="picture1">
    </div>
    
    <div class="left">
        <div class="text">
            <div class="headline">
                <h2>Onlineshop</h2>
            </div>
            <div class="textblock" class="mx-auto d-block">
                <p>Im Shop bieten wir Figuren mit und ohne Beleuchtung an.<br> 
                Schlummerlampen für die lieben Kleinen sowie Holzsäulen,<br>
                Kantholzdekorationen und Holzaufsteller - Dekostelen.<br>
                Des weiteren verschiedene Betonartikel.<br>
                Für jede Jahreszeit ist etwas dabei.<br>
                Auch individuelle Wünsche werden berücksichtigt.</p>
                <h4>Viel Spaß beim Stöbern</h4>
                <p>Die meisten Laubsägemotive stammen aus der TOPP Reihe des Frech<br>
                Verlages.</p>
            </div>  
        </div>  
    </div>
    
    <div class="right">
            <img src="./assets/images/Bianca.jpg" alt="Bild kann nicht geladen werden." class="mx-auto d-block" id="picture2">
    </div>


    <div class="right-under">
        <div class="img-block">
        <figure><img src="./assets/images/Pavillion.jpg" alt="Bild kann nicht geladen werden." class="mx-auto d-block" id="picture3">
            <figcaption class="mx-auto d-block">
                <h2>Verwendete Materialien</h2>
                <p>Pappelsperrholz ( 4 mm bis 12 mm ),</p>
                <p>Fichte-Leimholz ( 18 mm ),</p>
                <p> Holzsäulen Fichte gehobelt in verschiedenen Stärken und Birkenstämme.</p>
                <p>Gießbeton, Creativbeton, Knetbeton und Schmuckbeton je nach Motiv.</p>
                <p>Acrylfarben, Seidenmatt-Lack Spray auf Acrylbasis.</p>
            </figcaption>
        </figure>
        </div>
    </div>

    <div class="left-under">
        <div class="img-block">
        <figure><img src="./assets/images/Materialien.jpg" alt="Bild kann nicht geladen werden." class="mx-auto d-block" id="picture4">
            <figcaption class="mx-auto d-block">
                <h2>Veranstaltungen an denen wir teilnehmen</h2>
                <h5><strong>Zurzeit sind leider keine Angaben über Termine möglich!</strong></h5>
                <p>Frühlingsbasar im Hansesaal Lünen, Kurt-Schuhmacher-Str. 41</p>
                <p>Aplerbecker Apfelmarkt, 44287 Dortmund, Rodenbergstr. 36</p>
                <p>Kreativ- und Adventsmarkt in der Stadthalle Werl, Grafenstr. 27</p>
                <p>Weihnachtsbasar im Hansesaal Lünen, Kurt-Schuhmacher-Str. 41</p>
            </figcaption>
        </figure>
        </div>
    </div>
</div> <!-- Ende textbereich -->
</body>
</html>