<div id="textbereich">
<h1>Versandinformationen</h1>
<h2>Allgemeine Versandinformationen</h2>
<p>In der folgenden Tabelle findest du Versandoptionen, Versandkosten und Lieferzeiten.</p>
<h2>Wichtige Informationen zum Versand in andere Länder:</h2>
<p>Internationale Sendungen können Zölle, Steuern und anderen Gebühren unterliegen, die nicht im<br> 
Gesamtpreis enthalten sind. Diese können vor Kauf erfragt werden.</p>
<h3>Versandoptionen</h3>
	<table id="coll">
		<tbody>
			<tr>
				<th>Option</th>
				<th>Kosten</th>
				<th>Lieferzeiten</th>
			</tr>
			<tr>
				<td>Deutschland</td>
				<td>6,00 €</td>
				<td>1 - 3 Werktage</td>
			</tr>
		</tbody>
	</table>
<h3>Länder, in die wir versenden</h3>
<p>Deutschland</p>
</div>