<body>
<div class="top">
    <h5><p>Willkommen im Online-Shop</p></h5>
</div>

    <div class=textbereich>
    <div class="eins">
        <div class="img-block">
            <figure><a href="Holzprodukte" class="mx-auto d-block"><img src="./assets/images/Holz.jpg" alt="Bild kann nicht geladen werden." class="mx-auto d-block" id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Holzprodukte"><h2>Holz</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>
    
    <div class="eins">
        <div class="img-block">
            <figure><a href="Beton-Kategorien" class="mx-auto d-block"><img src="./assets/images/Beton.jpg" alt="Bild kann nicht geladen werden." class="mx-auto d-block" id="picture3"></a>
            <figcaption class="mx-auto d-block">
                <a href="Beton-Kategorien"><h2>Beton</h2></a>
            </figcaption>
        </figure>
        </div>
    </div>    
    </div>
</body>